body {
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 18px;
}

span {
    display: inline-block;
}

main {
    flex-grow: 1;
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

footer {
    flex-grow: 0;
}

.panel {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.panel picture {
    flex: 0 1 240px;
    position: relative;
    display: flex;
}

picture>img {
    width: 100%;
    height: 100%;
}

picture * {
    color: hsl(0, 0%, 100%);
}

.bg-img {
    position: absolute;
}


.main-container {
    background-color: white;
    flex: 1 2 auto;
    padding: 0;
    padding-top: 20%;
}

.card {
    position: absolute;
    width: 80%;
    height: 60%;
    background-size: 100% 100%;
    box-sizing: border-box;
}

.card-back {
    background-image: url("images/bg-card-back.png");
    left: auto;
    bottom: auto;
    top: 2em;
    right: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10%;
}

.card-front {
    background-image: url("images/bg-card-front.png");
    top: auto;
    right: auto;
    bottom: -2em;
    left: 1em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}


.ccv,
.user-name,
.expiracy-date {
    font-size: 0.75rem;
}

.card-logo {
    height: 1.5em;
    align-self: flex-start;
    width: 100%;
}

.card-logo img {
    height: 100%;
}


span {
    letter-spacing: 0.1em;
}



@media(min-width:376px) {
    .panel {
        flex-direction: row;
        height: 75%;
        width: 90%;
    }

    .panel picture {
        flex: 0 1 483px;
    }

    .card {
        width: 100%;
        height: 30%;
    }

    .card-back {
        top: auto;
        left: auto;
        right: -50%;
        bottom: 15%;
    }

    .card-front {
        left: auto;
        bottom: auto;
        right: -25%;
        top: 15%;

    }

    .main-container {
        padding: 0;
        padding-left: 20%;
    }
}